@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?yu9alg');
  src:  url('../fonts/icomoon.eot?yu9alg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?yu9alg') format('truetype'),
    url('../fonts/icomoon.woff?yu9alg') format('woff'),
    url('../fonts/icomoon.svg?yu9alg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-headset:before {
  content: "\e900";
}
.icon-woman:before {
  content: "\e901";
}
.icon-like:before {
  content: "\e902";
}
.icon-assistance:before {
  content: "\e903";
}
.icon-megaphone:before {
  content: "\e904";
}
.icon-smartphone-2:before {
  content: "\e905";
}
.icon-house:before {
  content: "\e906";
}
.icon-id-card:before {
  content: "\e907";
}
.icon-fax:before {
  content: "\e908";
}
.icon-contract:before {
  content: "\e909";
}
.icon-smartphone-1:before {
  content: "\e90a";
}
.icon-24-hours:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e90c";
}
.icon-agenda-1:before {
  content: "\e90d";
}
.icon-worldwide-1:before {
  content: "\e90e";
}
.icon-smartphone:before {
  content: "\e90f";
}
.icon-mobile-phone:before {
  content: "\e910";
}
.icon-map:before {
  content: "\e911";
}
.icon-message:before {
  content: "\e912";
}
.icon-telephone-3:before {
  content: "\e913";
}
.icon-email:before {
  content: "\e914";
}
.icon-agenda:before {
  content: "\e915";
}
.icon-worldwide:before {
  content: "\e916";
}
.icon-laptop:before {
  content: "\e917";
}
.icon-arroba:before {
  content: "\e918";
}
.icon-chat-1:before {
  content: "\e919";
}
.icon-mouse:before {
  content: "\e91a";
}
.icon-telephone-2:before {
    content: url("../img/core-img/Aula-ICO1.png");
}
.icon-telephone-1:before {
  content: "\e91c";
}
.icon-telephone:before {
  content: "\e91d";
}
.icon-link:before {
  content: "\e91e";
}
.icon-placeholder:before {
  content: "\e91f";
}
.icon-chat:before {
  content: "\e920";
}
.icon-printer:before {
  content: "\e921";
}
.icon-calendar:before {
  content: "\e922";
}
.icon-customer-service:before {
  content: "\e923";
}
.icon-responsive:before {
  content: "\e924";
}
.icon-wall-clock:before {
  content: "\e925";
}
.icon-info:before {
  content: "\e926";
}
.icon-sms:before {
  content: "\e927";
}