// Heading Color
$heading-color: #242424;

// Text Color
$text-color: #606060;

// Default Background
$bg-default: #8961ba;

// Gray Background
$bg-gray: #f5f7fa;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #d91a9c;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #3c3c3c;